// ----------------------------------------------------------LIBRARY IMPORTS

@import "bourbon";
@import "neat/neat";


$fontstack: Helvetica, Lato, sans-serif;
$primary-color:#000;
$bwhite:grey;
$break-small: 540px;
$break-medium: 720px;
$break-large:920px;
// ----------------------------------------------------------BREAKPOINT SYNTAX
//        .profile-pic {
//           float: left;
//           width: 250px;
//           @media screen and (max-width: $break-small) {
//             width: 100px;
//             float: none;
//           }
//           @media screen and (min-width: $break-large) {
//             float: right;
//           }
//         }
// ----------------------------------------------------------COMPILES TO
//        profile-pic {
//          float: left;
//          width: 250px;
//        }
//        @media screen and (max-width: 320px) {
//          .profile-pic {
//            width: 100px;
//            float: none;
//          }
//        }
//        @media screen and (min-width: 1200px) {
//          .profile-pic {
//            float: right;
//          }
//        }

// ----------------------------------------------------------MAIN STYLES

html, body{background:$bwhite; 
		   margin:0; 
		   padding:0; 
		   height:100%; 
		   width:100%;}
h1 { font-family: helvetica; 
	color: white; 
	padding:36px 0 36px 0; 
	margin:0;}
h3 {font-family:lato; color: black;}
.clear{
	clear:both;
}

.home-container{
	position:relative; 
	height:100%; 
	width:100%;
}
// ----------------------------------------------------------NAVIGATION

nav{
	@include span-columns(12);
	z-index:1;
	position:fixed;
	height:100px; 
	width:100%; 
	background:white;
	-webkit-box-shadow: 0px 14px 53px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 14px 53px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 14px 53px 0px rgba(0,0,0,0.75);
	.logo{
		@include span-columns(4);
		padding-left: 2%;
		position:relative;
		height: 100%;
		img{
			position:relative;
			width: 169px;
    		height: 100%;
			padding:25px 0 25px 0;
		}
	}

	.links{
			@include span-columns(8);
			position: relative; 
			height:100%; 
			float:right; 
			margin-right: 10%;
		ul{
			position: relative; 
			height:100%; 
			margin-top:0; 
			margin-bottom:0; 
			display: flex; 
			align-items: center; 
			justify-content: center;
			li{
				display: inline-block;
				position: relative;
				font-family: helvetica;
				font-size: 1.2em;
				margin:0 15px 0 15px;
				a{
					color: black;
					text-decoration: none;
					transition: .5s;
					&:hover{
						color: #00637C;
						text-shadow:0px 5px 10px black;
						-webkit-transition-timing-function: cubic-bezier(0.42,0,0.58,1);
						transition-timing-function: cubic-bezier(0.42,0,0.58,1);
						transition: .5s;
					}
				}
			}
		}
	}
}
// ----------------------------------------------------------TOP SECTION

.hero-wrapper {
	@include span-columns(12); 
	position:relative; min-height:100%; 
	background-image: url("..//imgs/sd-skyline.png"); 
	background-size: cover; 
	background-repeat:no-repeat;
	overflow:hidden;margin-top:100px;display: flex; }
.primary-title{ 
	@include span-columns(12); 
	min-height:100%; 
	position:relative; 
	display: flex; 
	align-items: center; 
	justify-content: center; }
.title-style{
	position:relative;
	display: flex; 
	justify-content: center; 
	align-items:center; 
	height:250px; 
	width:500px; 
	background-image:url("..//imgs/hero-name.png"); 
	background-size:contain;
	transition:.5s;
		&:hover{
			opacity: .6;
			transition:.5s;
		}
		@media (max-width: 768px) {
			width: 400px !important;
			height: 200px !important;
		}
		@media (max-width: 540px) {
			width: 300px !important;
			height: 150px !important;
		}	
}

// ----------------------------------------------------------BREAK

.break{
	width:100%;
	height:100px;
	background:white;
	position:relative;
	-webkit-box-shadow: 0px -14px 52px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -14px 52px 0px rgba(0,0,0,0.75);
box-shadow: 0px -14px 52px 0px rgba(0,0,0,0.75);
}

// ----------------------------------------------------------FIRST SECTION

section{
	@include span-columns(12);
	position:relative;
	min-height:400px;
	background:black;
	.left-col{
		@include span-columns(5);
		position:relative;
		height:400px;
		display:flex; 
		justify-content:center;
		align-items:center;
		margin: 0px;
		@media (max-width: 768px) {
			@include span-columns(12);
			position:relative;
			height:250px;
			display:flex; 
			justify-content:center;
			align-items:center;
			margin: 0px;
		}
		.prof-pic{
			position:relative; 
			height: 300px; 
			width:300px; 
			background-image: url("..//imgs/headshot.png"); 
			background-size:cover; 
			@media (max-width: 768px) {
				width: 200px !important;
				height: 200px !important;
				top: 15px;
			}
			@media (max-width: 540px) {
				width: 150px !important;
				height: 150px !important;
			}	
		}
	}
	.right-col{
		@include span-columns(7);
		position:relative;
		height:400px;
		display:flex; 
		justify-content:left;
		align-items:center;
		@media (max-width: 768px) {
			@include span-columns(12);
			position:relative;
			height:200px;
			display:flex; 
			justify-content:left;
			align-items:center;
		}
		.about-me{

			p{
				position:relative;
				color: white;
				font-family: $fontstack;
				line-height: 2em;

				@media (max-width: 768px) {
				line-height: 1.5em;
				margin: 0 25px 0 25px;
				text-align:center;
				}
				@media (max-width: 540px) {
				line-height: 1.2em;
				bottom:10px;
				}
			}
		}
	}
}

















































































































































































