html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  background: grey;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

h1 {
  font-family: helvetica;
  color: white;
  padding: 36px 0 36px 0;
  margin: 0; }

h3 {
  font-family: lato;
  color: black; }

.clear {
  clear: both; }

.home-container {
  position: relative;
  height: 100%;
  width: 100%; }

nav {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  z-index: 1;
  position: fixed;
  height: 100px;
  width: 100%;
  background: white;
  -webkit-box-shadow: 0px 14px 53px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 14px 53px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 14px 53px 0px rgba(0, 0, 0, 0.75); }
  nav:last-child {
    margin-right: 0; }
  nav .logo {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 31.7615656014%;
    padding-left: 2%;
    position: relative;
    height: 100%; }
    nav .logo:last-child {
      margin-right: 0; }
    nav .logo img {
      position: relative;
      width: 169px;
      height: 100%;
      padding: 25px 0 25px 0; }
  nav .links {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 65.8807828007%;
    position: relative;
    height: 100%;
    float: right;
    margin-right: 10%; }
    nav .links:last-child {
      margin-right: 0; }
    nav .links ul {
      position: relative;
      height: 100%;
      margin-top: 0;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center; }
      nav .links ul li {
        display: inline-block;
        position: relative;
        font-family: helvetica;
        font-size: 1.2em;
        margin: 0 15px 0 15px; }
        nav .links ul li a {
          color: black;
          text-decoration: none;
          transition: .5s; }
          nav .links ul li a:hover {
            color: #00637C;
            text-shadow: 0px 5px 10px black;
            -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
            transition: .5s; }

.hero-wrapper {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  position: relative;
  min-height: 100%;
  background-image: url("..//imgs/sd-skyline.png");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-top: 100px;
  display: flex; }
  .hero-wrapper:last-child {
    margin-right: 0; }

.primary-title {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  min-height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center; }
  .primary-title:last-child {
    margin-right: 0; }

.title-style {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 500px;
  background-image: url("..//imgs/hero-name.png");
  background-size: contain;
  transition: .5s; }
  .title-style:hover {
    opacity: .6;
    transition: .5s; }
  @media (max-width: 768px) {
    .title-style {
      width: 400px !important;
      height: 200px !important; } }
  @media (max-width: 540px) {
    .title-style {
      width: 300px !important;
      height: 150px !important; } }

.break {
  width: 100%;
  height: 100px;
  background: white;
  position: relative;
  -webkit-box-shadow: 0px -14px 52px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -14px 52px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -14px 52px 0px rgba(0, 0, 0, 0.75); }

section {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%;
  position: relative;
  min-height: 400px;
  background: black; }
  section:last-child {
    margin-right: 0; }
  section .left-col {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 40.2913699012%;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px; }
    section .left-col:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      section .left-col {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        position: relative;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px; }
        section .left-col:last-child {
          margin-right: 0; } }
    section .left-col .prof-pic {
      position: relative;
      height: 300px;
      width: 300px;
      background-image: url("..//imgs/headshot.png");
      background-size: cover; }
      @media (max-width: 768px) {
        section .left-col .prof-pic {
          width: 200px !important;
          height: 200px !important;
          top: 15px; } }
      @media (max-width: 540px) {
        section .left-col .prof-pic {
          width: 150px !important;
          height: 150px !important; } }
  section .right-col {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 57.3509785009%;
    position: relative;
    height: 400px;
    display: flex;
    justify-content: left;
    align-items: center; }
    section .right-col:last-child {
      margin-right: 0; }
    @media (max-width: 768px) {
      section .right-col {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 100%;
        position: relative;
        height: 200px;
        display: flex;
        justify-content: left;
        align-items: center; }
        section .right-col:last-child {
          margin-right: 0; } }
    section .right-col .about-me p {
      position: relative;
      color: white;
      font-family: Helvetica, Lato, sans-serif;
      line-height: 2em; }
      @media (max-width: 768px) {
        section .right-col .about-me p {
          line-height: 1.5em;
          margin: 0 25px 0 25px;
          text-align: center; } }
      @media (max-width: 540px) {
        section .right-col .about-me p {
          line-height: 1.2em;
          bottom: 10px; } }
